@charset "UTF-8";
/***GENERAL***/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/***TITRE***/
h1, h2, h3 {
  margin: 0;
}

h1, h2 {
  font-size: 22px;
}

h3 {
  font-size: 19px;
}

/***LIEN GENERAL***/
a {
  color: black;
  text-decoration: none;
}

/***PARAGRAPHE***/
p {
  font-size: 17px;
}

/***ANIMATION LOADER***/
.loader {
  /***VISIBILITE CACHER***/
  visibility: hidden;
  /***CREATION DU LOADER*/
  /***TAILLE, TYPE DE TRAIT, COULEUR***/
  border-top: 10px solid #db6dda;
  border-bottom: 10px solid #db6dda;
  border-left: 10px solid #bd63db;
  border-right: 10px solid #bd63db;
  /***ARRONDIR POUR FAIRE LE CERCLE***/
  border-radius: 50%;
  /***LARGEUR, HAUTEUR***/
  width: 100px;
  height: 100px;
  /***Une animation dont le timing est linéaire : elle ne connaît pas d'accentuation à l'accélération ou à la décélération. Sa courbe est totalement droite du point A au point B*/
  /***EN CONTINU***/
  -webkit-animation: spin 1.5s linear;
          animation: spin 1.5s linear;
  /***PLACEMENT LOADER***/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/***POUR QUE LES ANCIENS NAVIGATEURS VOYENT LA TRANSFORMATION***/
@-webkit-keyframes spin {
  /***L'ANIMATION DEBUTE, ETAT INITIAL***/
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  /***L'ANIMATION VA ALLER DE 0 A 360 DEGRES ET DE FACON LINEAR VA PROGRESSER JUSQU'A 100%***/
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@keyframes spin {
  /***L'ANIMATION DEBUTE***/
  0% {
    visibility: visible;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  /***L'ANIMATION VA ALLER DE 0 A 360 DEGRES ET DE FACON LINEAR VA PROGRESSER JUSQU'A 100%***/
  100% {
    visibility: hidden;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

/***HEADER***/
header {
  /***LIEN***/
  /***PARAGRAPHE***/
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /***LOGO***/
}

header a img {
  width: 40%;
  padding: 14px;
}

header i {
  margin-right: 10px;
  margin-left: 0;
}

header p {
  text-align: center;
  background-color: #eaeaea;
  margin: 0;
  padding: 10px;
  -webkit-box-shadow: 0px -3px #dcdcdc;
          box-shadow: 0px -3px #dcdcdc;
  font-size: 15px;
  font-weight: bold;
}

/***PAGE ACCUEIL***/
/***SECTION***/
main {
  /***IMAGES GENERAL POUR TOUTE LES PAGES***/
  /***A LA PREMIERE SECTION***/
  /***DEUXIEME SECTION***/
  /***TROISIEME SECTION***/
}

main img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

main #reservez {
  background-color: #f6f6f6;
  padding: 40px 20px 50px;
  text-align: center;
}

main #reservez a {
  color: white;
  border-radius: 30px;
  width: 47%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: 17px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #reservez .degrade-diagonal {
  background: -webkit-gradient(linear, left top, right bottom, from(#e671da), to(#b05fdb));
  background: linear-gradient(to bottom right, #e671da, #b05fdb);
}

main #reservez div {
  width: 120px;
  height: 120px;
}

main .degrade-diagonal:hover {
  -webkit-filter: brightness(1.75);
          filter: brightness(1.75);
}

main #fonctionnement {
  padding-top: 30px;
  padding-bottom: 30px;
  /***TITRE***/
  /***ANIMATION HOVER AU SURVOL***/
  /***LISTE***/
}

main #fonctionnement h1 {
  margin-left: 15px;
}

main #fonctionnement div li:hover {
  background-color: #f5edff;
}

main #fonctionnement div li:hover .fa-mobile-screen-button, main #fonctionnement div li:hover .fa-list, main #fonctionnement div li:hover .fa-store {
  color: #9356dc;
}

main #fonctionnement ul {
  padding-left: 20px;
  padding-right: 20px;
}

main #fonctionnement ul li {
  width: 100%;
  margin-bottom: 20px;
  list-style-type: none;
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 15px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  /***ICONE***/
  /***ICONES***/
  /***ICONES HOVER AU SURVOL***/
}

main #fonctionnement ul li i:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
  color: #7f7f7f;
}

main #fonctionnement ul li .fa-1, main #fonctionnement ul li .fa-2, main #fonctionnement ul li .fa-3 {
  color: white;
  background-color: #9356dc;
  border: 2px solid #e8e8e8;
  border-radius: 100%;
  padding: 6px;
  width: 26px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-left: -11px;
  font-size: 10px;
}

main #fonctionnement ul li .fa-1:hover, main #fonctionnement ul li .fa-2:hover, main #fonctionnement ul li .fa-3:hover {
  color: white;
}

main #restaurants {
  background-color: #f6f6f6;
  padding: 30px 20px 65px;
  /***DIV***/
}

main #restaurants .flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /***DIV***/
}

main #restaurants .flex .groupe {
  position: relative;
  -webkit-box-shadow: 1px 1px 6px #d7d8d8;
          box-shadow: 1px 1px 6px #d7d8d8;
  border-radius: 16px;
  width: 100%;
  margin-top: 20px;
  /***PARAGRAPHE***/
}

main #restaurants .flex .groupe .texte_gauche {
  padding-top: 20px;
}

main #restaurants .flex .groupe .texte_gauche h3, main #restaurants .flex .groupe .texte_gauche p {
  margin-left: 12px;
  line-height: 6px;
}

main #restaurants .flex .groupe .animation {
  padding: 1px 0px 10px 0px;
}

main #restaurants .flex .groupe .animation .icone_droite {
  text-align: right;
  margin-right: 2rem;
  font-size: 25px;
  margin-top: -51px;
  padding-bottom: 30px;
}

main #restaurants .flex .groupe .animation .icone_droite .fa-heart-animated {
  left: 97%;
  bottom: 13%;
}

main #restaurants .flex .groupe .nouveau {
  top: 15px;
  right: 15px;
  text-align: right;
  background-color: #99e2d0;
  color: #269d81;
  position: absolute;
  border-radius: 3px;
  padding: 10px;
  margin: 0;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

main #restaurants .flex .deux_cartes {
  padding: 0;
}

footer {
  background-color: #353535;
  padding: 20px 20px 30px;
  /***LIEN***/
  /***BARRE DE NAVIGATION***/
}

footer .ohmyfood {
  color: white;
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 14px;
  /***LIEN***/
  /***ICONE***/
}

footer nav a {
  color: white;
  padding: 3px;
}

footer nav i {
  margin: 0;
  margin-right: 10px;
}

/***LES PAGES RESTAURANTS***/
/***BODY***/
#carte_restaurant {
  /***HEADER***/
  /***DIV IMAGE DE FOND***/
  /***PREMIERE SECTION***/
  /***LIEN COMMANDER***/
}

#carte_restaurant header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /***LIEN***/
  /***LOGO***/
}

#carte_restaurant header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /***ICONE***/
}

#carte_restaurant header a .fa-arrow-left {
  margin-left: 15px;
}

#carte_restaurant header .logo {
  width: 91%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#carte_restaurant #imageDeFond_francaise img, #carte_restaurant #imageDeFond_laNoteEnchantee img, #carte_restaurant #imageDeFond_LaPaletteDuGout img, #carte_restaurant #imageDeFond_LeDeliceDesSens img {
  height: 100%;
  border-radius: 0;
}

#carte_restaurant #imageDeFond_laNoteEnchantee img {
  height: 250px;
}

#carte_restaurant #section_carte {
  background-color: #f6f6f6;
  border-radius: 40px;
  margin-top: -69px;
  position: relative;
  padding: 20px 20px 20px;
  /***TITRE***/
  /***DIV***/
}

#carte_restaurant #section_carte .texte_gauche h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  font-weight: normal;
}

#carte_restaurant #section_carte .cartes {
  /***DIV***/
}

#carte_restaurant #section_carte .cartes #margin {
  margin-top: 0px;
}

#carte_restaurant #section_carte .cartes .width {
  margin-top: 35px;
  /***TITRE***/
  /***DIV***/
}

#carte_restaurant #section_carte .cartes .width h3 {
  text-transform: uppercase;
  border-bottom: 3px solid #99e2d0;
  width: 8%;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 17px;
}

#carte_restaurant #section_carte .cartes .width .plat {
  -webkit-box-shadow: 1px 1px 6px #d7d8d8;
          box-shadow: 1px 1px 6px #d7d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 20px;
  padding-left: 6px;
  overflow: hidden;
  width: 100%;
  /***DEUXIEME DIV***/
  /***PREMIERE DIV***/
}

#carte_restaurant #section_carte .cartes .width .plat .check {
  background-color: #99e2d0;
  width: 75px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-right: -75px;
}

#carte_restaurant #section_carte .cartes .width .plat .check .fa-check {
  font-size: 17px;
  background-color: white;
  border-radius: 30px;
  padding: 5px;
  color: #99e2d0;
}

#carte_restaurant #section_carte .cartes .width .plat:hover .check {
  /***SA POUSSE SUR LE COTE DROIT***/
  margin-right: 0;
  /***DUREE DE L'ANIMATION***/
  /***all  permet d’appliquer des transitions simultanément à toutes les propriétés***/
  -webkit-transition: all 1s;
  transition: all 1s;
  /***FAIRE TOURNER L'ICONE***/
}

#carte_restaurant #section_carte .cartes .width .plat:hover .check .fa-check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#carte_restaurant #section_carte .cartes .width .plat .partie_blanche {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

#carte_restaurant #section_carte .cartes .width .plat .partie_blanche .partie_de_gauche {
  width: 86%;
  /***TITRE***/
}

#carte_restaurant #section_carte .cartes .width .plat .partie_blanche .partie_de_gauche * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#carte_restaurant #section_carte .cartes .width .plat .partie_blanche .partie_de_gauche h4 {
  font-size: 18px;
  margin: 10px 0 0 10px;
}

#carte_restaurant #section_carte .cartes .width .plat .partie_blanche .partie_de_gauche p {
  margin: 5px 0 10px 10px;
}

#carte_restaurant #section_carte .cartes .width .plat .prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  margin: 0;
  padding-bottom: 10px;
  padding-right: 5px;
  width: auto;
}

#carte_restaurant .degrade-diagonal {
  background: -webkit-gradient(linear, left top, right bottom, from(#e671da), to(#b05fdb));
  background: linear-gradient(to bottom right, #e671da, #b05fdb);
  color: white;
  border-radius: 30px;
  width: 39%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;
  padding: 15px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/***ANIMATION COEUR***/
/***DIV***/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /***DIV***/
}

.flex .animation {
  font-size: 25px;
  padding: 20px 0px 20px 0px;
  margin-right: 15px;
  /***ANIMATION : LE DEUXIEME COEUR APPARAIT, IL RECOUVRE LE PREMIER COEUR***/
}

.flex .animation .contenu {
  position: relative;
  height: 26px;
  cursor: pointer;
  /***ICONE***/
}

.flex .animation .contenu .fa-heart-animated {
  /***ABSOLUTE : PEUT ABSOLUMENT ALLER PARTOUT RELATIVEMENT DANS LE CONTENU***/
  position: absolute;
  left: 50%;
  /***Déplacement horizontal***/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  /***LE COEUR POUR L'ANIMATION EST A 0, DONC IL N'APPARAIT PAS, SEULEMENT LE PREMIER COEUR EST PRESENT***/
  font-size: 0px;
  color: #9356DC;
  /***DEFINIR LE GRAS***/
  font-weight: bold;
  /***DUREE DE L'ANIMATION***/
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.flex .animation .contenu:hover .fa-heart-animated {
  font-size: 25px;
}

/***ANIMATION DEFILEMENT***/
.plat {
  /***ease : elle suit un profil d’accélération plus net, et une rampe de décélération plus prononcée ; both : prolonge l'animation dans les deux sens ;***/
  -webkit-animation: slideup 1s ease both;
  animation: slideup 1s ease both;
}

/***DELAI DE L'ANIMATION***/
.delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.delay-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delay-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.delay-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.delay-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.delay-10 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

/***POUR QUE LES ANCIENS NAVIGATEURS VOYENT L'ANIMATION***/
@-webkit-keyframes slideup {
  from {
    /***translateY; 100px de bas en haut, -100px aurait m'y de haut en bas***/
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    /***EFFET TRANSPARENCE**/
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/***REGLES***/
@keyframes slideup {
  /***0% indique l'état initial de l'animation***/
  from {
    /***translateY; 100px de bas en haut, -100px aurait m'y de haut en bas***/
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    /***EFFET TRANSPARENCE**/
    opacity: 0;
  }
  /**100% indique l'état final.***/
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 370px) {
  main #reservez a {
    width: 61%;
  }
}

@media screen and (min-width: 500px) {
  main #restaurants .flex .groupe .animation .icone_droite .fa-heart-animated {
    left: 97.5%;
  }
  .width {
    margin-right: 15px;
  }
}

@media screen and (min-width: 700px) {
  h1 {
    text-align: center;
  }
  /***PREMIERE SECTION LIEN***/
  main #reservez a {
    width: 46%;
  }
  main #fonctionnement div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main #fonctionnement div ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
  main #restaurants .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  main #restaurants .flex .groupe {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  main #restaurants .flex .groupe .animation .icone_droite .fa-heart-animated {
    left: 95%;
  }
}

@media screen and (min-width: 800px) {
  main #restaurants .flex .groupe .animation .icone_droite .fa-heart-animated {
    left: 96%;
  }
}

@media screen and (min-width: 900px) {
  main {
    /***DEUXIEME SECTION***/
    /***TROISIEME SECTION***/
  }
  main #fonctionnement div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
  }
  main #fonctionnement div ul li {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
  }
  main #restaurants {
    /***DIV***/
  }
  main #restaurants .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 1000px) {
  /***HEADER***/
  /***IMAGE***/
  header a img {
    width: 14%;
  }
  /***MAIN****/
  main {
    /***PREMIERE SECTION LIEN***/
    /***DEUXIEME SECTION***/
    /***TROISIEME SECTION***/
  }
  main #reservez a {
    width: 27%;
  }
  main #fonctionnement {
    /***TITRE***/
  }
  main #fonctionnement h1 {
    padding-bottom: 15px;
  }
  main #fonctionnement div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #fonctionnement div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
  }
  main #restaurants {
    /***TITRE***/
  }
  main #restaurants h1 {
    padding-bottom: 15px;
  }
  /***PAGES MENU***/
  #carte_restaurant {
    /***HEADER***/
    /***DIV IMAGE DE FOND***/
    /***PREMIERE SECTION***/
  }
  #carte_restaurant header {
    /***ICONE***/
  }
  #carte_restaurant header i {
    font-size: 28px;
  }
  #carte_restaurant #imageDeFond_francaise img, #carte_restaurant #imageDeFond_laNoteEnchantee img, #carte_restaurant #imageDeFond_LaPaletteDuGout img, #carte_restaurant #imageDeFond_LeDeliceDesSens img {
    height: 600px;
  }
  #carte_restaurant #section_carte {
    /***DIV***/
    /***LIEN COMMANDER***/
  }
  #carte_restaurant #section_carte .flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #carte_restaurant #section_carte .flex .texte_gauche {
    margin-right: 40px;
  }
  #carte_restaurant #section_carte .cartes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #carte_restaurant #section_carte .cartes #margin {
    margin-top: auto;
  }
  #carte_restaurant #section_carte .cartes .width {
    /***TITRE***/
    /***DIV***/
  }
  #carte_restaurant #section_carte .cartes .width h3 {
    margin-left: 40px;
  }
  #carte_restaurant #section_carte .cartes .width .plat {
    margin-left: 40px;
  }
  #carte_restaurant #section_carte .degrade-diagonal {
    width: 11%;
  }
  main #restaurants .flex .groupe .animation .icone_droite .fa-heart-animated {
    left: 96%;
  }
}

@media screen and (min-width: 1400px) {
  main {
    /***DEUXIEME SECTION***/
    /***TROISIEME SECTION***/
  }
  main #fonctionnement div ul {
    width: 50%;
  }
  main #restaurants {
    /***TITRE***/
    /***DIV***/
  }
  main #restaurants h1 {
    padding-bottom: 15px;
  }
  main #restaurants .flex {
    width: 50%;
  }
  main #restaurants .flex .groupe .animation .icone_droite .fa-heart-animated {
    left: 96.7%;
  }
}

@media screen and (min-width: 1600px) {
  /***PREMIERE SECTION LIEN***/
  main #reservez a {
    width: 13%;
  }
}
/*# sourceMappingURL=style.css.map */